:root {
  --logo-green: #b2eb0c;
  --logo-darkgreen: #95b619;
  --logo-blue: #1c75cf;
  --logo-darkblue: #134ba3;

  /* fdroid blue */
  --fdb05: #f7fbff;
  --fdb06: #e5f1fe;
  --fdb07: #b8d7f8;
  --fdb08: #7db1e8;
  --fdb09: #4b90d8;
  --fdb10: #1c74cf;
  --fdb11: #0854a3;
  --fdb12: #053e7a;
  --fdb13: #022d59;
  /* fdroid green */
  --fdg06: #f7fee0;
  --fdg07: #e8fcad;
  --fdg08: #d7f778;
  --fdg09: #c7f349;
  --fdg10: #b2eb0c;
  --fdg11: #81ad00;
  --fdg12: #608100;
  /* --fdg12: #3c5000; */

  --transition-speed: 200ms;

  /* dark theme as default for noscript */
  --text-1: #ffffff;
  --text-2: #ececec;
  --text-3: #b6b6b6;
  --bg-lighter-3: #626262;
  --bg-lighter-2: #5a5a5a;
  --bg-lighter-1: #474747;
  --bg: #3c3c3c;
  --bg-darker-1: #0a0a0a;
  --bg-darker-2: #0c0c0c;
  --bg-darker-3: #000000;
  --hl-0: var(--bg-darker-1);
  --hl-1: var(--bg-lighter-1);
  --hl-2: var(--bg-lighter-3);
  --link: var(--fdb07);
}

.light {
  --text-1: #000000;
  --text-2: #1f1f1f;
  --bg: #ffffff;
  --bg-darker-1: #f3f3f3;
  --bg-darker-2: #e4e4e4;
  --hl-1: var(--bg-darker-1);
  --hl-2: var(--bg-darker-2);
  --hl-0: var(--bg-darker-1);
  --link: var(--fdb10);
  --link-hover: var(--fdb09);
}

.dark {
  --text-1: #ffffff;
  --text-2: #ececec;
  --text-3: #b6b6b6;
  --bg-lighter-3: #626262;
  --bg-lighter-2: #5a5a5a;
  --bg-lighter-1: #474747;
  --bg: #3c3c3c;
  --bg-darker-1: #0a0a0a;
  --bg-darker-2: #0c0c0c;
  --bg-darker-3: #000000;
  --hl-0: var(--bg-darker-1);
  --hl-1: var(--bg-lighter-1);
  --hl-2: var(--bg-lighter-3);
  --link: var(--fdb07);
  --link-hover: var(--fdb06);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 5rem;
  padding: 0rem;
}

main {
  flex: 1;
}

body,
button {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-1);
  background-color: var(--bg);
}

h2 {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  margin: 0.33rem 0 1rem;
}

ol,
ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul {
  list-style: square;
}

blockquote {
  margin: 1.5rem 2rem;
}

img {
  max-width: 100%;
  border: 0;
}

a {
  color: var(--link);
  transition: opacity 0.2s;
  text-decoration: none;
}

a:visited {
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  outline: 0;
}

code {
  font-size: 0.8rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

div.content {
  padding: 1rem;
  font-size: 0.9rem;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

div.center,
table.center,
img.center {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

p.center,
td.center,
th.center {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table .wrap {
  white-space: normal;
}

th,
td {
  text-align: left;
}

th {
  vertical-align: middle;
  font-weight: bold;
}

td {
  vertical-align: top;
}

.compact_container {
  display: flex;
  flex-flow: row wrap;
  margin: -1rem;
}

.col-compact {
  margin: 0.5rem;
  padding: 0.5em; /* half of desired margin */
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20rem; /* (100% - margins)/number of boxes */
}

.compact tr:nth-child(even) {
  background-color: var(--hl-1);
}

.compact {
  border: 0.25rem solid var(--hl-1);
  border-top: 0;
}

.compact tr:first-of-type {
  padding: 2rem;
}

.compact th,
.compact td {
  vertical-align: text-top;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.compact th {
  padding-right: 0.25rem;
}

/* remove inner margions */
.col-compact table:first-of-type {
  margin-bottom: 0.25rem;
}

.col-compact table:not(:first-of-type),
.col-compact table:not(:first-of-type) caption {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.col-compact table:last-of-type {
  margin-bottom: 0.25rem;
}

button::-moz-focus-inner {
  border: none;
}

button {
  background-color: var(--hl-1);
  overflow: auto;
  white-space: nowrap;
  border: none;
  color: var(--text-1);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.results button {
  text-align: left;
  background-color: var(--hl-2);
}

.results .collapsible {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

button span {
  float: right;
  font-weight: 900;
}

.collapsed {
  display: none;
  border-top: 0.125rem solid var(--bg);
}

table th.tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

table thead th.tablesorter-headerAsc {
  background-color: var(--hl-2);
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

table thead th.tablesorter-headerDesc {
  background-color: var(--hl-2);
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

table thead th.sorter-false {
  background-image: none;
  cursor: default;
}

.tablesorter-header:focus {
  outline: none;
}

.results {
  overflow: auto;
}

.results table {
  border-right: 0.125rem solid var(--hl-2);
  border-left: 0.125rem solid var(--hl-2);
  border-top: 0.125rem solid var(--hl-2);
  border-bottom: 0.25rem solid var(--hl-2);
}

.results th {
  padding: 0.5rem 1rem 0.25rem 0.25rem;

  border-bottom: 0.25rem solid var(--hl-2);
  padding-right: 1.25rem;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

.results td {
  padding: 0.25rem 1rem 0.25rem 0.25rem;
}

.results img {
  /* background-color: var(--hl-2); */
  height: 1rem;
  min-width: 1rem;
}

.results .nopad {
  padding-right: 0;
}

.results tr.empty td {
  text-align: center;
}

.results tr:nth-child(even) {
  background: var(--bg);
}

.results tr:nth-child(odd) {
  background: var(--hl-1);
}

.visualize-mirror .axis path,
.visualize-mirror .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.visualize-mirror .url-dot {
  stroke: #000;
}

.visualize-mirror .url-line {
  fill: none;
  stroke-width: 1.5px;
}

.visualize-buttons {
  margin: 0.5rem 0.33rem;
}

.visualize-chart {
  position: relative;
  height: 500px;
  margin: 0.33rem;
}

footer {
  clear: both;
  padding: 1rem;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
}

/* navbar stuff */
.navbar {
  position: fixed;
  background-color: var(--hl-0);
  transition: width var(--transition-speed) ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-1);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7) brightness(150%);
  transition: var(--transition-speed);
}

.nav-link:hover {
  text-decoration: none;
  filter: grayscale(0%) opacity(1);
  background: var(--hl-2);
  color: var(--text-2);
}

.logo-link {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-12);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link img,
.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo-text {
  display: none;
  margin-left: 1rem;
}

.logo-link img,
.logo-link svg {
  width: 4rem;
  min-width: 4rem;
  margin: 0 0.5rem;
}

.fa-primary {
  color: var(--fdg10);
}

.fa-secondary {
  color: var(--fdb10);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* Small screens */
@media only screen and (max-width: 75rem) {
  .container {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 3rem;
  }

  .nav-link {
    height: 5rem;
    justify-content: center;
  }

  .logo-item {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }
}

/* Large screens */
@media only screen and (min-width: 75rem) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .nav-link {
    height: 5rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .nav-item:last-child {
    margin-top: auto;
  }
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

@media print {
  .navbar {
    display: none !important;
  }

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  .container {
    margin-left: 0rem;
    padding: 0rem;
  }

  table,
  table thead * {
    border-bottom: 0px solid #fff;
    border: 0px;
    background-color: #fff !important;
    background-image: none;
  }

  .results table {
    border: 1px solid #111;
  }

  .results tr:nth-child(even) {
    background-color: #fff !important;
  }

  .results tr:nth-child(odd) {
    background-color: #f3f3f3 !important;
  }
}
