{% extends 'base_rendered.html' %}
{% block title%}F-Droid Monitor{% endblock %}

{% block nav_items %}
<li class="nav-item logo-item">
  <a href="#" class="nav-link logo-link">
    <img src="assets/img/fdroid-logo.svg" alt="SVG error" />
    <span class="link-text">F-droid</span>
  </a>
</li>
{% endblock %}

{% block content %}
<h1>F-Droid Monitor</h1>
<p>
  This site reports the status of all known, public, and active F-Droid <a href="repo">repos</a> and <a
    href="mirror">mirrors</a>.
</p>
{% endblock %}
