{% extends 'base_rendered.html' %}

{% block title%}F-Droid - {{ mirror['hostname'] }} - Mirror details{% endblock %}
{% block nav_items %}
{% include 'logo.html' %}
{% endblock %}

{% if mirror['common_url'] is defined %}
{% set url = mirror['common_url'] %}
{% else %}
{% set url = mirror['url'] %}
{% endif %}


{% block content %}
<h1>URL details: {{ url }}</h1>
<div class="compact_container">
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Details<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">URL:</th>
          <td><a href="{{ url }}">{{ url }}</a></td>
        </tr>
        <tr>
          <th scope="row">Mirror:</th>
          <td>{{ mirror['hostname'] }}</td>
        </tr>
        <tr>
          <th scope="row">IPv4:</th>
          <td>
            {{ 'Yes' if mirror['IPv4'] else 'No' }}{#% for ip in mirror['IPv4'] %}{{ ip }}{{ ', ' if not loop.last }}{% endfor %#}
          </td>
        </tr>
        <tr>
          <th scope="row">IPv6:</th>
          <td>
            {{ 'Yes' if mirror['IPv6'] else 'No' }}{#% for ip in mirror['IPv6'] %}{{ ip }}{{ ', ' if not loop.last }}{% endfor %#}
          </td>
        </tr>
        {% if mirror['countries'] %}
        <tr>
          <th scope="row">Country:</th>
          <td>
            {% if mirror['countries'] | length > 0 %}
            {% for country in mirror['countries'] %}
            <span class="fam-flag fam-flag-{{ country['code'] }}"
              title="{{ country['name'] }}"></span>{{ country['name'] }}
            {% endfor %}
            {% else %}
            <span class="fam-flag" title="Unknown"></span>Unknown
            {% endif %}
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% if mirror['repo_relpaths'] %}
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Repos<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">Repo paths:</th>
          <td>

            {% for path in mirror['repo_relpaths'] %}
            <a href="{{ url + path }}">{{ path }}</a><br>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}


  {% if mirror['protocol'] == 'https' %}
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>TLS details<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">TLS version:</th>
          <td>{{ mirror['tls_version'] }}</td>
        </tr>
        <tr>
          <th scope="row">TLS ping:</th>
          <td>
            {% if mirror['tlsping'] is defined %}
            {{ mirror['tlsping']['average'] }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">TLS ping stddev:</th>
          <td>
            {% if mirror['tlsping'] is defined %}
            {{ mirror['tlsping']['stddev'] }}
            {% endif %}
          </td>
        <tr>
          <th scope="row">TLS least strength:</th>
          <td>
            {% if mirror['tls_details'] is defined %}
            {{ mirror['tls_details']['least strength'] }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if mirror['index'] %}
  {% set index = mirror['index'] %}
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Index<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">URL:</th>
          <td><a href="{{ index['url'] }}">{{ index['url'] }}</a></td>
        </tr>
        {% if index['size']%}
        <tr>
          <th scope="row">Size:</th>
          <td>{{ sizeof_fmt(int(index['size'])) }}</td>
        </tr>
        <tr>
          <th scope="row">Modified:</th>
          <td>{{ index['modified'] }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% if index['headers']%}
    <table class="compact">
      <caption class="collapsible"><button>Headers<span>＋</span> </button></caption>
      <tbody class="collapsed">
        {% for headername in index['headers'] %}
        <tr>
          <th scope="row">{{ headername }}</th>
          <td>{{ index['headers'][headername] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endif %}
</div>

<div class="results">
  <table id="check_logs">
    <caption class="collapsible"><button>Check Logs<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col">Check time (UTC)</th>
        <th scope="col">Check location</th>
        <th scope="col">Check IP</th>
        <th scope="col">Last modified (UTC)</th>
        <th scope="col">Delay (hh:mm)</th>
        <th scope="col">Duration (s)</th>
        <th scope="col">Success</th>
        <th scope="col">Errors</th>
      </tr>
    </thead>
    <tbody>

      {% for t_str in mirror['historical'] %}{% set h = mirror['historical'][t_str] %}
      <tr>
        <td>{{ t_str }}</td>
        <td>
          <span class="fam-flag fam-flag-{{ h['check_country_code'].lower() }}" title="{{ h['check_country'] }}"></span>
          {{ h['check_country'] }}
        <td>{{ h['check_ip'] }}</td>
        <td>{{ h['modified'] }}</td>
        <td>{{ h['delay'] }}</td>
        <td>{{ h['duration'] }}</td>
        <td>{{ h['success'] }}</td>
        <td class="wrap">
          {% for err in h['errors'] %}
          <strong>{{ err }}: </strong>{{ h['errors'][err] }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="debug" class="results">
  <h1>Debug output</h1>
  {{ table }}
</div>
{% endblock %}
