{% extends 'base_rendered.html' %}
{% block title%}F-Droid Mirror Monitor{% endblock %}

{% block nav_items %}
{% include 'logo.html' %}

<li class="nav-item">
  <a href="mirror/#successful" class="nav-link">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle"
      class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
        class="fa-secondary"></path>
    </svg>

    <span class="link-text">Successfully Syncing</span>
  </a>
</li>
<li class="nav-item">
  <a href="mirror/#errorlog" class="nav-link">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation-triangle"
      class="svg-inline--fa fa-exclamation-triangle fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 576 512">
      <path fill="currentColor"
        d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"
        class="fa-secondary"></path>
    </svg>
    <span class="link-text">Syncing Error Log</span>
  </a>
</li>

<li class="nav-item">
  <a href="mirror/#outofsync" class="nav-link">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause-circle"
      class="svg-inline--fa fa-pause-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z"
        class="fa-secondary"></path>
    </svg>
    <span class="link-text">Out of Sync</span>
  </a>
</li>
{% endblock %}

{% block content %}
<h1>Mirror Status</h1>
<p>
  This site reports the status of all known, public, and active F-Droid mirrors. All data on this page reflects the
  status of the mirrors within the last 7 days The check script runs on a regular basis and polls for the index file.
</p>
<p>
  This status data is also available in <a href="status.json">JSON format</a>. And the historical data of the last 7
  days is saved <a href="history.json">here</a>
</p>
<p>
  The last mirror check ran at {{ last_check }}. Checks have ran {{ status['num_checks_24h'] }} times in the last 24
  hours
  at an average interval of {{ status['check_rate_24h'] }} (hh:mm).
</p>
<p>
  The score is calculated as:
  <code>average duration + variance + occurrences of main error + hours delay (decimal)</code>. Lower is better.
</p>
<div class="results">
  <table id="successful_mirrors">
    <caption id="successful" class="collapsible"><button>Successfully Syncing Mirrors<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col">Mirror URL</th>
        <th scope="col">Protocol</th>
        <th scope="col">Country</th>
        <th scope="col">Delay (hh:mm)</th>
        <th scope="col">Duration (s)</th>
        <th scope="col">Duration variance (s)</th>
        <th scope="col">Score</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for mirror in status['mirrors'] %} {% if mirror['success'] is true %}
      <tr>
        {% if mirror['common_url'] is defined %}
        <td>{{ mirror['common_url'] }}</td>
        {% else %}
        <td>{{ mirror['url'] }}</td>
        {% endif %}
        <td>{{ mirror['protocol'] }}</td>
        <td>
          {% if mirror['countries'] | length > 1 %}
          <span class="fam-flag" title="Multiple"></span>Multiple
          {% elif mirror['countries'] | length == 0 %}
          <span class="fam-flag" title="Unknown"></span>Unknown
          {% else %}
          <span class="fam-flag fam-flag-{{ mirror['countries'][0]['code'] }}"
            title="{{ mirror['countries'][0]['code'] }}"></span>{{ mirror['countries'][0]['name'] }}
          {% endif %}
        </td>
        <td>{% if mirror['delay'] is defined %} {{ mirror['delay'] }} {% endif %}</td>
        <td>{% if mirror['duration_median'] is defined %} {{ '%.02f' % mirror['duration_median'] }} {% endif %}</td>
        <td>{% if mirror['duration_variance'] is defined %} {{ '%.02f' % mirror['duration_variance'] }} {% endif %}</td>
        <td>{% if mirror['score'] is defined %} {{ mirror['score'] }} {% endif %}</td>
        <td><a href="mirror/{{ mirror['name'] }}.html">details</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

<div class="results">
  <table id="errorlog_mirrors">
    <caption id="errorlog" class="collapsible"><button>Mirror Syncing Error Log<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col">Mirror URL</th>
        <th scope="col">Protocol</th>
        <th scope="col">Country</th>
        <th scope="col">Error message</th>
        <th scope="col">Last occurred (UTC)</th>
        <th scope="col">Occurrences (last 24h)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for mirror in status['mirrors'] %} {% if mirror['main_err_msg'] is defined %}
      <tr>
        {% if mirror['common_url'] is defined %}
        <td>{{ mirror['common_url'] }}</td>
        {% else %}
        <td>{{ mirror['url'] }}</td>
        {% endif %}
        <td>{{ mirror['protocol'] }}</td>
        <td>
          {% if mirror['countries'] | length > 1 %}
          <span class="fam-flag" title="Multiple"></span>Multiple
          {% elif mirror['countries'] | length == 0 %}
          <span class="fam-flag" title="Unknown"></span>Unknown
          {% else %}
          <span class="fam-flag fam-flag-{{ mirror['countries'][0]['code'] }}"
            title="{{ mirror['countries'][0]['code'] }}"></span>{{ mirror['countries'][0]['name'] }}
          {% endif %}
        </td>
        <td class="wrap">{{ mirror['main_err_msg'] }}</td>
        <td>{{ mirror['main_err_latest'] }}</td>
        <td>{{ mirror['main_err_count'] }}</td>
        <td><a href="mirror/{{ mirror['name'] }}.html">details</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

<div class="results">
  <table id="outofsync_mirrors">
    <caption id="outofsync" class="collapsible"><button>Out of Sync Mirrors<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col">Mirror URL</th>
        <th scope="col">Protocol</th>
        <th scope="col">Country</th>
        <th scope="col">Duration (s)</th>
        <th scope="col">Duration variance (s)</th>
        <th scope="col">Errors</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
