{% extends 'base_rendered.html' %}

{% block title%}F-Droid - {{ repo['url'] }} - Repo details{% endblock %}
{% block nav_items %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}
<h1>Repo details: {{ repo['url'] }}</h1>
<div class="compact_container">
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Details<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">URL:</th>
          <td><a href="{{ repo['url'] }}">{{ repo['url'] }}</a></td>
        </tr>
        <tr>
          <th scope="row">Name:</th>
          <td>
            {{ repo['name'] }}{#% for ip in repo['IPv4'] %}{{ ip }}{{ ', ' if not loop.last }}{% endfor %#}
          </td>
        </tr>
        <tr>
          <th scope="row">#Apps:</th>
          <td>
            {{ repo['num_apps'] }}{#% for ip in repo['IPv4'] %}{{ ip }}{{ ', ' if not loop.last }}{% endfor %#}
          </td>
        </tr>
        <tr>
          <th scope="row">Description:</th>
          <td class="wrap">{{ repo['description'] }}</td>
        </tr>
        <tr>
          <th scope="row">Official:</th>
          <td>Yes/No</td>
        </tr>
        <tr>
          <th scope="row">Is archive:</th>
          <td>Yes/No</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Mirrors<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">Main mirror:</th>
          <td><a href="{{ 'mirror/' + repo['main_mirror'] + '.html' }}">{{ repo['main_mirror'] }}</a></td>
        </tr>
        <tr>
          <th scope="row">Integrated mirrors:</th>
          <td>
            {% for m in repo['integrated_mirrors'] %}
            <a href="{{ 'mirror/' + m  + '.html' }}">{{ m }}</a><br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">Additional mirrors:</th>
          <td>
            {% for m in repo['additional_mirrors'] %}
            <a href="{{ 'mirror/' + m  + '.html' }}">{{ m }}</a><br>
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-compact">
    <table class="compact">
      <caption class="collapsible"><button>Packages<span>－</span> </button></caption>
      <tbody>
        <tr>
          <th scope="row">#Packages:</th>
          <td>{{ repo['num_all_packages'] }}</td>
        </tr>
        <tr>
          <th scope="row">Packages size:</th>
          <td>{{ repo['size_all_packages'] }}</td>
        </tr>
        <tr>
          <th scope="row">#Current packages:</th>
          <td>{{ repo['num_current_packages'] }}</td>
        </tr>
        <tr>
          <th scope="row">Current packages size:</th>
          <td>{{ repo['size_current_packages'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="debug" class="results">
  <h1>Debug output</h1>
  {{ table }}
</div>
{% endblock %}
