{% extends 'base_rendered.html' %}
{% block title%}F-Droid Monitor{% endblock %}

{% block nav_items %}
{% include 'logo.html' %}
{% endblock %}

{% block content %}
<h1>F-Droid Monitor</h1>
<p>
  This site reports the status of all known, public, and active F-Droid repos.
</p>
<div class="results">
  <table id="successful_repos">
    <caption id="successful" class="collapsible"><button>Successfully Syncing repos<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col" class="nopad"></th>
        <th scope="col">Repo URL</th>
        <th scope="col">Protocol</th>
        <th scope="col">Name</th>
        <th scope="col">#Apps</th>
        <th scope="col" data-metric-name-abbr="iB">Size all packages</th>
        <th scope="col">Index</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for repo in status['repos'] %} {% if repo['index_file'] is not none %}
      <tr>
        <td class="nopad">{% if repo['icon'] is defined %}
          <img src="{{ repo['url'] + 'icons/' + repo['icon'] }}" alt="{{ repo['icon'] }}" />
          {% endif %}</td>
        <td>{{ repo['url'] }}</td>
        <td>{{ repo['protocol'] }}</td>
        <td>{{ repo['name'] }}</td>
        <td>{{ repo['num_apps'] }}</td>
        <td>{{ repo['size_all_packages'] }}</td>
        <td>{{ repo['index_file'] }}</td>
        <td><a href="repo/{{ repo['filename'] }}.html">details</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

<div class="results">
  <table id="errorlog_repos">
    <caption id="errorlog" class="collapsible"><button>Repo Syncing Error Log<span>－</span> </button></caption>
    <thead>
      <tr>
        <th scope="col">Repo URL</th>
        <th scope="col">Protocol</th>
        <th scope="col">Error message</th>
        <th scope="col">Last occurred (UTC)</th>
        <th scope="col">Occurrences (last 24h)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for repo in status['repos'] %} {% if repo['errors'] != {} %}
      <tr>
        <td>{{ repo['url'] }}</td>
        <td>{{ repo['protocol'] }}</td>
        <td class="wrap">{{ repo['main_err_msg'] }}</td>
        <td>{{ repo['main_err_latest'] }}</td>
        <td>{{ repo['main_err_count'] }}</td>
        <td><a href="repo/{{ repo['filename'] }}.html">details</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
